/* HEADER */
h1{
    font-family: "Edu TAS Beginner", cursive;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    font-size: 4em;
}
.wall{
    background-image: url(/img/wall.png);
    height: 150px;
}

/* BODY */
body{
    background-image: url(/img/cork.png);
    height: 100%;
}